{% extends "main/base.html" %}
{% load static %}
{% block content %}
<link href="{% static 'css/catalog_style.css' %}" rel="stylesheet">
<h2 class="h2-catalog-title">{{ category.name }}</h2>
<div class="product-tile-grid">
  {% for p in products %}
    <a href="{% url 'product_detail' category.slug p.slug %}" class="product-tile">
      {% if p.image %}
        <img src="{{ p.image.url }}" alt="{{ p.name }}">
      {% endif %}
      <div class="product-tile-name">{{ p.name }}</div>
      <div class="product-tile-price">{{ p.price|floatformat:0 }} ₽</div>
    </a>
  {% empty %}
    <div class="empty-text">Нет товаров в этой категории.</div>
  {% endfor %}
</div>
{% endblock %}