{% extends "main/base.html" %}

{% block title %}Главная{% endblock %}
{% load static %}
{% block content %}

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <section>

         <img src="{% static 'img/logo_main_transparent.png' %}" alt="Логотип"
         class="logotype_main"
         style="width: 250px; height: 250px; object-fit: contain; transition: transform 0.3s cubic-bezier(.36,2,.48,.96);">

        <!-- <h1 style="color: #A185E8; font-size: 3rem; font-weight: 800;">Добро пожаловать в наш магазин!</h1> -->
        <!-- <p style="font-size: 1.2rem; margin: 24px 0 32px;">Современные игровые аксессуары, одежда и мебель для сетапа</p> -->
    </section>

{% endblock %}
