{% extends "main/base.html" %}

{% block title %}Главная{% endblock %}
{% load static %}
{% block content %}

    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <div class="main-hero">
        <div class="main-hero-bg">
            <img src="{% static 'img/P1070451.JPG' %}" alt="Рукав" class="hero-img hero-img-left" />
            <img src="{% static 'img/photo_2025-06-26_23-06-29.jpg' %}" alt="Набор" class="hero-img hero-img-right" />
            <div class="hero-glow"></div>
    </div>
    <div class="main-hero-center">
        <img src="{% static 'img/logo_main_transparent.png' %}" alt="Логотип" class="hero-logo" />
    </div>
</div>
  

{% endblock %}
